<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Darker+Grotesque&display=swap"
      rel="stylesheet"
    />
    <script src="https://js.stripe.com/v3/"></script>
    <title>BikeShop - Shop</title>
    <script
      src="https://kit.fontawesome.com/a41e9403cf.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <div class="row">
      <nav class="navbar navbar-light bg-dark col-12 py-0">
        <a class="navbar py-0" href="/">
          <img
            src="/images/bike-logo.svg"
            width="60"
            height="60"
            class="logo"
            alt=""
          />
          <p class="mb-0">The Bike Shop Experience</p>
        </a>
      </nav>
    </div>
    <div class="row">
      <nav aria-label="breadcrumb" class="col-12 my-3">
        <ol class="breadcrumb mb-0">
          <li class="breadcrumb-item">
            <a href="/">Shop</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Basket</li>
        </ol>
      </nav>
    </div>

    <h1 class="ml-4 mb-3">Merci de votre achat</h1>
    <div class="row">
      <div class="col-12">
        <h2 class="text-success ml-4 mb-3">
          Votre commande a été validé et vos produits vont être envoyés
          prochainement
        </h2>
      </div>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jiz"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script src="javascripts/script.js"></script>
  </body>
</html>
